@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
* {
  margin: 0;
  padding: 0;
  font-family: "Cera Round Pro";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.navbar-toggler-icon, .navbar-toggler-icon:focus {
  outline: none !important;
}

.collapsed {
  outline: none !important;
}

header {
  /**/
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  border: 2px solid #BB2339;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.5s;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#backToTopBtn:hover {
  background: #BB2339;
}

header .bg__color {
  background: #BB2339;
}

main {
  padding-top: 70px;
}
main .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main__header h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
}
main .main__header img {
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 40px;
}
main .main .main__body {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .main .main__body p {
  max-width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #242424;
  opacity: 0.8;
}
main .main .main__body img {
  max-width: 100%;
}
main .main__space {
  max-width: 100%;
  height: 341px;
  background: #fff;
}

footer {
  position: relative;
  background: #BB2339;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
footer .footer__card {
  max-width: 100%;
  padding: 64px 297px;
  position: relative;
  top: -230px;
  background: #BB2339;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  transition: 0.5s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
footer .footer__card h1 {
  font-weight: 700;
  font-size: 23px;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer__card h2 {
  margin-top: 25px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer__card h3 {
  font-family: "Open Sans" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer__card form {
  width: 100%;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
footer .footer__card form input {
  max-width: 635px;
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 100px;
  background: transparent;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
footer .footer__card form input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #AAAAAA;
}
footer .footer__card form input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #AAAAAA;
}
footer .footer__card form button {
  padding: 12px 32px;
  background: transparent;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media (max-width: 1194px) {
  footer .footer__card h2 {
    width: 275px;
    font-size: 24px;
  }
  footer .footer__card h3 {
    width: 250px;
  }
  footer .footer__card form {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  footer .footer__card {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .footer__card form input {
    max-width: 275px;
  }
}
footer .footer__card:hover {
  box-shadow: 22px 30px 95px 10px rgba(86, 86, 86, 0.2);
}
footer .footer__row__1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .footer__row__1 .footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__row__1 .footer__left h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer__row__1 .footer__left p {
  font-family: "Open Sans" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer__row__1 .footer__left .nums {
  display: flex;
  flex-direction: column;
}
footer .footer__row__1 .footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__row__1 .footer__center .logo {
  width: 336px;
  height: auto;
}
footer .footer__row__1 .footer__center p {
  margin-top: 32px;
  margin-bottom: 47px;
  font-family: "Open Sans" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
footer .footer__row__1 .footer__center .contacting {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer .footer__row__1 .footer__center p:last-child {
  margin-top: 83px;
}
footer .footer__row__1 .footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__row__1 .footer__right h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
footer .footer__row__1 .footer__right .schedule {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
footer .footer__row__1 .footer__right .schedule p {
  font-family: "Open Sans" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  footer .footer__row__1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}